<ion-header collapse="condense">
  <!-- <ion-toolbar color="light">
  </ion-toolbar> -->
</ion-header>

<ion-content [fullscreen]="true" class="home-content">

  <div class="home-container">
    <img src="./../../assets/logo-mesqstrok-removebg-preview.png" alt="app-logo-mesquita" class="logo-app" />
    <div>

      <h1 class="titulo">Bem-vindo</h1>
      <p class="subtitulo">Gerencie seu estoque de forma simples e eficiente</p>
    </div>
    
    <img src="./../../assets/Design_sem_nome_22.webp" alt="logo-mesquita" class="logo" />
  </div>

</ion-content>
